# Compiled Lua sources
luac.out
lib/aubiogo/aubiogo
# luarocks build files
*.src.rock
*.zip
*.tar.gz
lib/oscconnect/oscconnect
lib/oscnotify/oscnotify
lib/aubio/*
release.tar.gz

# Object files
*.o
*.os
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo
*.def
*.exp
*.json
lib/oscnotify/oscnotify

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

